*{
    margin: 0;
    padding: 0;

}

@font-face {
    font-family: Caveat-Bold;
    src: url(Fonts/Caveat-Bold.ttf);
}

@font-face {
    font-family: Jua;
    src: url(Fonts/Jua-Regular.ttf);
}

@font-face {
    font-family: Chela;
    src: url(Fonts/ChelaOne-Regular.ttf);
}

@font-face {
    font-family: Fugaz;
    src: url(Fonts/FugazOne-Regular.ttf);
}

@font-face {
    font-family: Play;
    src: url(Fonts/PlaywriteMXGuides-Regular.ttf);
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(Achii14.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
    position: relative;
}

#Achii{
    color: pink;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: pink;
    font-size: 35px;
    font-family: Caveat-Bold;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 0px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
    margin-left: -50px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}


ul li a:hover{
    color: pink;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    text-indent: 30px;
}

.content .pare{
    text-align: center;
    font-family: Verdana;
    letter-spacing: 1.2px;
    line-height: 30px;
    font-size: medium;
}

.content h3{
    font-family: Fugaz;
    font-size: 27px;
    margin-top: 15px;
    text-align: center;
    letter-spacing: 4px;
    color: pink;
}


.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    margin-top: 15px;
    margin-left: 20px;
    letter-spacing: 2px;
    color: pink;
}

.envelope {
    margin: auto;
    margin-top: 50px;
    width: 200px;
    height: 150px;
    background-color: rgb(251, 195, 252);
    position: relative;

}

.flap {
    width: 100%;
    height: 50%;
    background-color: pink;
    position: absolute;
    top: -72.8px;
    clip-path: polygon(0 97%, 100% 97%, 50% 0);
}

.bottom {
    width: 100%;
    height: 50%;
    background-color:   rgb(251, 195, 252);
    position: absolute;
    bottom: 0;
    left: 0;
}

.letter {
    width: 180px;
    height: 100px;
    margin: 20px auto;
    background-color: #ffe4e1;
    border: 1px solid #f08080;
    position: absolute;
    top: 20px;
    left: 10px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #d80000;
}

#play{
    width: 75px;
    height: 75px;
}

.right-col{
    float: right;
    margin-right: -605px;
    margin-top: 10px;
    align-items: center;
    display: flex;
}

.right-col p{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    font-size: 14px;
}

#play{
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.envelopeBack{
    margin-left: 15px;
    margin-top: 5px;
    width: 200px;
    height: 150px;
    background-color: rgb(251, 195, 252);
    position: relative;
    border: 1px solid #c592ff;
    border-radius: 1px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.envelopeDen{
    margin-left: 240px;
    margin-top: -190px;
    width: 125px;
    height: 75px;
    background-color: rgb(251, 195, 252);
    position: relative;
    border: 1px solid #c592ff;
    border-radius: 1px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.envelopeAng{
    margin-left: 380px;
    margin-top: -157px;
    width: 125px;
    height: 75px;
    background-color: rgb(251, 195, 252);
    position: relative;
    border: 1px solid #c592ff;
    border-radius: 1px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.envelopeBar{
    margin-left: 520px;
    margin-top: -157px;
    width: 125px;
    height: 75px;
    background-color: rgb(251, 195, 252);
    position: relative;
    border: 1px solid #c592ff;
    border-radius: 1px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.envelopeDep{
    margin-left: 660px;
    margin-top: -157px;
    width: 125px;
    height: 75px;
    background-color: rgb(251, 195, 252);
    position: relative;
    border: 1px solid #c592ff;
    border-radius: 1px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.envelopeNext{
    margin-left: 1000px;
    margin-top: -175px;
    width: 200px;
    height: 150px;
    background-color: rgb(251, 195, 252);
    position: relative;
    border: 1px solid #c592ff;
    border-radius: 1px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flapBack {
    width: 100%;
    height: 50%;
    background-color: pink;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.bottomBack {
    width: 100%;
    height: 50%;
    background-color:   rgb(251, 195, 252);
    position: absolute;
    bottom: 0;
    left: 0;
}

.Back{
    padding-left: 17px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.Deni{
    padding-left: 240px;
    padding-bottom: 50px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.Ange{
    padding-left: 380px;
    padding-bottom: 50px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.Bar{
    padding-left: 520px;
    padding-bottom: 50px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.Dep{
    padding-left: 660px;
    padding-bottom: 50px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.Next{
    padding-left: 1000px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.LAST{
    text-align: center;
}

.Tlast{
    text-align: center;
}