
*{
  margin: 0;
  padding: 0;
}

*{
    margin: 0;
    padding: 0;

}

@font-face {
    font-family: Caveat-Bold;
    src: url(Fonts/Caveat-Bold.ttf);
}

@font-face {
    font-family: Jua;
    src: url(Fonts/Jua-Regular.ttf);
}

@font-face {
    font-family: Chela;
    src: url(Fonts/ChelaOne-Regular.ttf);
}

@font-face {
    font-family: Fugaz;
    src: url(Fonts/FugazOne-Regular.ttf);
}

@font-face {
    font-family: Play;
    src: url(Fonts/PlaywriteMXGuides-Regular.ttf);
}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(Achii12.jpg);
    background-position: 50% 35%;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
    position: relative;
}

#Achii{
    color: pink;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: pink;
    font-size: 35px;
    font-family: Caveat-Bold;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 0px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
    margin-left: -50px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}


ul li a:hover{
    color: pink;
}

.First{
  text-align: center;
  font-family: Caveat-Bold;
  color: pink;
}

.PH2{
  font-family: Caveat-Bold;
  color: antiquewhite;
  margin-left: 100px;
}

.par{
  margin-left: 100px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    color: #fff;
}

.par a{
    text-decoration: none;
    color: pink;
    transition: 0.4s ease-in-out; 
}

.par a:hover{
    color: beige;
}